.Wdate {
	border: #999 1px solid;
	height: 20px;
	background: #fff url(datePicker.gif) no-repeat right;
}

.WdateFmtErr {
	font-weight: bold;
	color: red;
}
#show tr:hover td{color:red;}
#zhuyuan_find{
	padding-left:25px;
	
}